.location{
    // height:80vh;
    background-color: white;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.458);
    // align-items: center;

    .texto{
        width:100%;
        

        h2{
            width:100%;
            padding: 0px 0px;
            color:black;
            font-size: 60px;
            text-align: left;
            font-family: quicksand;
            text-align: center;
        }

        h3{
            width:100%;
            padding: 0px 0px;
            color:black;
            font-size: 14px;
            text-align: left;
            font-family: quicksand;
            text-align: center;

        }
    }

    .mapa{
        width:25%;
        height:auto;
    }
}